@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap");

:root {
  --sys-spacing-1: 4px;
  --sys-spacing-2: 8px;
  --sys-spacing-3: 16px;
  --sys-spacing-4: 24px;
  --sys-spacing-6: 40px;
  --sys-spacing-7: 48px;

  --sys-color-brand-mint: #70c4a4;
  --sys-color-accent-yellow: #ffd800;
  --sys-color-surface-primary: oklch(98% 0.003 168);
  --sys-color-text-primary: #1c201e;
  --sys-color-white: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--sys-color-brand-mint);
  font-family: "Outfit", sans-serif;
  color: var(--sys-color-text-primary);
}

* {
  box-sizing: border-box;
}
